<% include ./partials/header %>

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        
        <div class="ui inverted huge header">
            <p>650 Seats.</p>
        </div>
        <div class="ui inverted large header">
            <p>Here's how Britain voted.</p>
        </div>
        <div class="ui inverted large header">
            <i class="angle down icon"></i>
        </div>
    </div>
</div>


<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        
    <div class="ui top attached tabular menu inverted horizontal-flex">
      <a class="item" data-tab="second">
            <div class="ui inverted medium header">
                <p>2016</p>
            </div>
        </a>
            
        <a class="item active" data-tab="first">
            <div class="ui inverted huge header">
                <p>2017</p>
            </div>
        </a>
            
        <a class="item" data-tab="third">
            <div class="ui inverted medium header">
                <p>2015</p>
            </div>
        </a>
    </div>
 
    
        <div data-tab="first" class="ui inverted statistics one">
            <% parties.forEach(function(party) { %>
            
                <div class="ui inverted <%= party.color %> statistic">
                    <div class="label" >
                        <%= party.stats[0].leader %>
                    </div>
                    <div class="value">
                        <%= party.stats[0].seats %>
                    </div>
                    <div class="label">
                        <%= party.name %> - <%= party.stats[0].representation %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include ./partials/footer %>