<% include ./partials/header %>

 
<div class="nav-wrapper">
    <div class="ui inverted secondary pointing menu borderless top fixed">
        <div class="ui inverted segment">
            <p class="item">Politi</p>
            <a class="item" href="/">
                  Home
            </a> 
            <a class="item active" href="/stats">
              Stats
            </a>
            <a class="item" href="/api">
              API
            </a>
        </div>
    </div>
</div>
    
<div class="ui inverted vertical masthead center aligned segment full-screen">
    <div class="ui text container  transition-element animated-fadein">
        
        <div class="ui inverted huge header">
            <p>650 Seats.</p>
        </div>
        <div class="ui inverted large header">
            <p>Here's how Britain voted.</p>
        </div>
        <div class="ui inverted large header">
             <a href="#stats" id="stats" class="scroll-link"><!-- -->
                <i class="angle down icon"></i> </a>
        </div>
    </div>
</div>

<div class="ui inverted vertical masthead center aligned segment full-screen">
    <div class="ui top attached tabular menu inverted horizontal-flex transition-element animated-fadein">
        <% indices.forEach(function(index) { %>
            <a class="item <% if(index==elections.length){ %> active <% } %>" data-tab="election-<%= index-1 %>">
                <%= elections[index-1].year %>
            </a>
        <% }) %>
    </div>
    
    <div class="ui text container transition-element animated-fadein">
        <% elections.forEach(function(election, index) { %>
            <div data-tab="election-<%= index %>" class="ui inverted statistics tab one <% if(index==elections.length-1){ %> active <% } %> stats-container">
                <% election.topParties.forEach(function(party) { %>
                    <div class="ui inverted <%= party.color %> statistic">
                        <% if(party.leader) { %>
                            <div class="label" >
                                <%= party.leader %>
                            </div>
                        <% } %>
                        <div class="value">
                            <%= party.seats %>
                        </div>
                        <div class="label">
                            <%= party.name %> - <%= party.representation %>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>
</div>

<% include ./partials/footer %>